body {
    font-family: 'Roboto', sans-serif;
    width: 1280px;
    margin-left: 98px;
}
.logo {
    text-decoration: none;
    color: black;
    font-size:80px;
}

.colortext {
    color:#4bcaff;
}

.header-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    background: #35444F;
    border-left: none;
    border-right: none;
}
header{
    margin-top: 63px;
    margin-bottom: 40px;
}
.header-nav-item{
    padding: 25px 35px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    color: #fff;
}

.header-nav-item:hover {
    background-color: #222F3A;
}
.left-menu{
    border: 1px solid #000000;
    width: 344px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.left-menu-item{
    font-size: 27px;
    text-decoration: none;
    color: #495863;
    line-height: 27px;
    padding-left: 40px;
}
.left-menu li {
    display: flex;
    align-items: center;
    height: 81px;
    transition: 0.5s;
}
.left-menu li:hover{
    background-color: #DBDBDB;
    padding-left: 10px;
    transition: 0.5s;
}
.left-menu{
    flex-direction: column;
    border: 1px solid #000000;
    width: 344px;
    height: 400px;
    /*padding-top: 26px;*/
}
.main{
    display: flex;
    margin-top: 48px;
}
.right-content{
    display: flex;
    flex-direction: column;
    margin-left: 52px;
    width: 885px;
}
.right-content p{
    margin-top: 34px;
}
.image{
    width: 320px;
    height: 382px;
    transition: 0.5s;
}
.border-image{
    display: flex;
    border: 1px solid #000000;
    background: rgba(0, 0, 0, 0.0001);
    height: 529px;
    align-items: center;
    justify-content: center;
}
.image:hover{
    width: 340px;
    height: 392px;
    transition: 0.5s;
}


/*///////////////////////////////////////////////////////////////////////////////////*/


footer {
    background: #63696E7A;
    width: 1280px;
    height: 70px;
    margin-top: 55px;
    margin-bottom: 30px;
    padding: 0;
    display: flex;
    justify-content: space-around;

}

.footer-butt-block {
    display: flex;
    flex-grow: 1;

}

.butt-cont {
    margin-left: 20px;
}

.footer-butt-items {
    display: flex;
    border: none;
    color: black;
    height: 70px;
    font-size: 25px;
    align-items: center;
    transition: 0.3s;
}

.footer-butt-items:hover {
    color: steelblue;
    text-decoration: underline;
    transition: 0.3s;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: right;
    border: none;
    color: black;
    height: 70px;
    font-size: 25px;
}
/*//////////////////////////////////////////////////////////////////////////*/